<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="pivimm_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="pivimm_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="PiViMM.diagram.part.PiViDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/PiViMMDiagramFile.gif"
         extensions="pivimm_diagram"
         default="true"
         class="PiViMM.diagram.part.PiViDiagramEditor"
         matchingStrategy="PiViMM.diagram.part.PiViMatchingStrategy"
         contributorClass="PiViMM.diagram.part.PiViDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="PiViMM.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/PiViMMDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="PiViMM.diagram.part.PiViCreationWizard"
  	     id="PiViMM.diagram.part.PiViCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="PiVIProject.diagram.InitDiagram"
            nameFilter="*.pivimm"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="PiViMM.diagram.part.PiViInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="PiVIProject.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="PiViPresentation">
         <Priority name="Lowest"/>
         <ViewId id="PiViMM.diagram.part.PiViDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="PiViPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="PiViMM.diagram.part.PiViDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="PiViRender">
         <Priority name="Lowest"/>
         <ViewId id="PiViMM.diagram.part.PiViDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="PiViMM.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="PiVIProject.diagram.general"
            name="%prefpage.PiVIProject.diagram.general"
            class="PiViMM.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="PiVIProject.diagram.appearance"
            name="%prefpage.PiVIProject.diagram.appearance"
            category="PiVIProject.diagram.general"
            class="PiViMM.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="PiVIProject.diagram.connections"
            name="%prefpage.PiVIProject.diagram.connections"
            category="PiVIProject.diagram.general"
            class="PiViMM.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="PiVIProject.diagram.printing"
            name="%prefpage.PiVIProject.diagram.printing"
            category="PiVIProject.diagram.general"
            class="PiViMM.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="PiVIProject.diagram.rulersAndGrid"
            name="%prefpage.PiVIProject.diagram.rulersAndGrid"
            category="PiVIProject.diagram.general"
            class="PiViMM.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="PiVIProject.diagram"
            labelProvider="PiViMM.diagram.sheet.PiViSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="PiVIProject.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="PiVIProject.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="PiViMM.diagram.sheet.PiViPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="PiViMM.diagram.navigator.PiViAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="PiViMM.diagram.providers.PiViViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="PiVi"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="PiViMM.diagram.providers.PiViEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="PiVi"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="PiViMM.diagram.providers.assistants.PiViModelingAssistantProviderOfIconsEditPart">
         <Priority name="Lowest"/>
         <object class="PiViMM.diagram.edit.parts.IconsEditPart" id="Icons_1000"/>
         <context elements="Icons_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="PiViMM.diagram.providers.assistants.PiViModelingAssistantProviderOfCodeBlockEditPart">
         <Priority name="Lowest"/>
         <object class="PiViMM.diagram.edit.parts.CodeBlockEditPart" id="CodeBlock_2001"/>
         <context elements="CodeBlock_2001"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="PiViMM.diagram.providers.PiViIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="PiViMM.diagram.providers.PiViParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://pivi/1.1">
         <metamodelType
               id="PiVIProject.diagram.Icons_1000"
               name="%metatype.name.Icons_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Icons"
               edithelper="PiViMM.diagram.edit.helpers.IconsEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://pivi/1.1">
         <metamodelType
               id="PiVIProject.diagram.CodeBlock_2001"
               name="%metatype.name.CodeBlock_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CodeBlock"
               edithelper="PiViMM.diagram.edit.helpers.CodeBlockEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://pivi/1.1">
         <metamodelType
               id="PiVIProject.diagram.Connector_4001"
               name="%metatype.name.Connector_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Connector"
               edithelper="PiViMM.diagram.edit.helpers.ConnectorEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="PiVIProject.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="PiVIProject.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="PiVIProject.diagram.TypeContext">
         <elementType ref="PiVIProject.diagram.Icons_1000"/>
         <elementType ref="PiVIProject.diagram.CodeBlock_2001"/>
         <elementType ref="PiVIProject.diagram.Connector_4001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="PiVIProject.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="PiVIProject.diagram"
           properties="isURIEditorInput"
           class="PiViMM.diagram.part.PiViUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="PiVIProject.diagram.resourceContent"/>
			<contentExtension pattern="PiVIProject.diagram.domainResourceContent"/>
            <contentExtension pattern="PiVIProject.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="PiVIProject.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="PiVIProject.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="PiViMM.diagram.navigator.PiViNavigatorContentProvider" 
            labelProvider="PiViMM.diagram.navigator.PiViNavigatorLabelProvider"
            icon="icons/obj16/PiViMMDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="pivimm_diagram"/>
               </and>
               <instanceof value="PiViMM.diagram.navigator.PiViAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="PiViMM.diagram.navigator.PiViAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="PiVIProject.diagram.navigatorSorter" 
               class="PiViMM.diagram.navigator.PiViNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="pivimm_diagram"/>
                  </and>
                  <instanceof value="PiViMM.diagram.navigator.PiViAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="PiVIProject.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="PiViMM.diagram.navigator.PiViDomainNavigatorContentProvider" 
            labelProvider="PiViMM.diagram.navigator.PiViDomainNavigatorLabelProvider"
            icon="icons/obj16/PiViMMDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="pivimm"/>
               </and>
               <instanceof value="PiViMM.diagram.navigator.PiViDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="PiViMM.diagram.navigator.PiViDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="PiVIProject.diagram.navigatorActionProvider"
            class="PiViMM.diagram.navigator.PiViNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="PiViMM.diagram.navigator.PiViAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="PiVIProject.diagram.navigatorLinkHelper"
            class="PiViMM.diagram.navigator.PiViNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="PiVIProject.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="PiViMM.diagram.navigator.PiViAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="PiViMM.diagram.part.PiViDiagramUpdateCommand"
         description="%update.diagram.description"
         id="PiViMM.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="PiViMM.diagram.updateDiagram"
         contextId="PiViMM.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="PiVIProject.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="PiViMM.diagram.part.PiViDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="PiViMM.diagram.edit.parts.IconsEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="PiViMM.diagram.part.PiViDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="PiVIProject.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="PiViMM.diagram.part.PiViDiagramEditorID"
         defaultHandler="PiViMM.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
