h1 {
	text-align: center;
    padding-bottom: 3%;
}

h2{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

body{ 
margin-left: 10%;
padding-left: 10% }

li{
}

img{
	margin-top: 4%;
	width:90%;
}